USE [master]
GO
/****** Object:  Database [RMS]    Script Date: 1/14/2024 12:19:54 AM ******/
CREATE DATABASE [RMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\RMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\RMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RMS]
GO
/****** Object:  Table [dbo].[category]    Script Date: 1/14/2024 12:19:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[catID] [int] IDENTITY(1,1) NOT NULL,
	[catName] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[catID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 1/14/2024 12:19:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[pID] [int] IDENTITY(1,1) NOT NULL,
	[pName] [varchar](50) NULL,
	[pPrice] [float] NULL,
	[CategoryID] [int] NULL,
	[pImage] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[pID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[staff]    Script Date: 1/14/2024 12:19:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staff](
	[staffID] [int] IDENTITY(1,1) NOT NULL,
	[sName] [varchar](50) NULL,
	[sPhone] [varchar](50) NULL,
	[sRole] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[staffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tables]    Script Date: 1/14/2024 12:19:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tables](
	[tid] [int] IDENTITY(1,1) NOT NULL,
	[tname] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[tid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDetails]    Script Date: 1/14/2024 12:19:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDetails](
	[DetailID] [int] IDENTITY(1,1) NOT NULL,
	[MainID] [int] NULL,
	[proID] [int] NULL,
	[qty] [int] NULL,
	[price] [float] NULL,
	[amount] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[DetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMain]    Script Date: 1/14/2024 12:19:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMain](
	[MainID] [int] IDENTITY(1,1) NOT NULL,
	[aDate] [date] NULL,
	[aTime] [varchar](15) NULL,
	[TableName] [varchar](10) NULL,
	[WaiterName] [varchar](50) NULL,
	[status] [varchar](10) NULL,
	[orderType] [varchar](15) NULL,
	[total] [float] NULL,
	[received] [float] NULL,
	[change] [float] NULL,
	[driverID] [int] NULL,
	[CustName] [varchar](50) NULL,
	[CustPhone] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MainID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/14/2024 12:19:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[upass] [varchar](10) NOT NULL,
	[uName] [varchar](50) NOT NULL,
	[uphone] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([catID], [catName]) VALUES (3, N'Burger')
INSERT [dbo].[category] ([catID], [catName]) VALUES (13, N'Drinks')
SET IDENTITY_INSERT [dbo].[category] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[staff] ON 

INSERT [dbo].[staff] ([staffID], [sName], [sPhone], [sRole]) VALUES (1, N'Ahmed', N'0331-4580995', N'Waiter')
INSERT [dbo].[staff] ([staffID], [sName], [sPhone], [sRole]) VALUES (3, N'Ali', N'0333-4445551', N'Waiter')
INSERT [dbo].[staff] ([staffID], [sName], [sPhone], [sRole]) VALUES (4, N'Muneeb Ali', N'0331-2223331', N'Cashier')
SET IDENTITY_INSERT [dbo].[staff] OFF
GO
SET IDENTITY_INSERT [dbo].[tables] ON 

INSERT [dbo].[tables] ([tid], [tname]) VALUES (1, N'Table 1')
INSERT [dbo].[tables] ([tid], [tname]) VALUES (2, N'Table 2')
INSERT [dbo].[tables] ([tid], [tname]) VALUES (3, N'Table 3')
SET IDENTITY_INSERT [dbo].[tables] OFF
GO
SET IDENTITY_INSERT [dbo].[tblDetails] ON 

INSERT [dbo].[tblDetails] ([DetailID], [MainID], [proID], [qty], [price], [amount]) VALUES (1, 4, 1, 1, 500, 500)
INSERT [dbo].[tblDetails] ([DetailID], [MainID], [proID], [qty], [price], [amount]) VALUES (2, 5, 2, 1, 400, 400)
INSERT [dbo].[tblDetails] ([DetailID], [MainID], [proID], [qty], [price], [amount]) VALUES (3, 6, 2, 2, 400, 800)
SET IDENTITY_INSERT [dbo].[tblDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[tblMain] ON 

INSERT [dbo].[tblMain] ([MainID], [aDate], [aTime], [TableName], [WaiterName], [status], [orderType], [total], [received], [change], [driverID], [CustName], [CustPhone]) VALUES (1, CAST(N'2024-01-13' AS Date), N'2:55 PM', N'Table', N'Waiter', N'Complete', N'', 900, 0, 0, 0, N'', N'')
INSERT [dbo].[tblMain] ([MainID], [aDate], [aTime], [TableName], [WaiterName], [status], [orderType], [total], [received], [change], [driverID], [CustName], [CustPhone]) VALUES (2, CAST(N'2024-01-13' AS Date), N'3:07 PM', N'Table', N'Waiter', N'Complete', N'', 300, 0, 0, 0, N'', N'')
INSERT [dbo].[tblMain] ([MainID], [aDate], [aTime], [TableName], [WaiterName], [status], [orderType], [total], [received], [change], [driverID], [CustName], [CustPhone]) VALUES (3, CAST(N'2024-01-13' AS Date), N'3:13 PM', N'Table', N'Waiter', N'Complete', N'', 900, 0, 0, 0, N'', N'')
SET IDENTITY_INSERT [dbo].[tblMain] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([userID], [username], [upass], [uName], [uphone]) VALUES (1, N'admin', N'123', N'User 1', N'333-11211')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
USE [master]
GO
